#home-content{

display:none;
min-height:100vh;

background:#090909;
color:white;

}


.hero{

min-height:100vh;

display:flex;
flex-direction:column;
justify-content:center;
align-items:center;

text-align:center;

padding:20px;

}


.hero h1{

font-size:5rem;

}


.hero h2{

margin-top:20px;

}


.hero p{

margin-top:10px;
color:#cfcfcf;

}


.buttons{

margin-top:40px;

display:flex;
gap:20px;

flex-wrap:wrap;

}


button{

padding:15px 30px;

border:none;
border-radius:15px;

background:#FF3131;
color:white;

cursor:pointer;

font-size:1rem;

transition:.3s;

box-shadow:0 0 30px rgba(255,49,49,.25);

}


button:hover{

transform:translateY(-5px);

}


.about{

padding:80px 30px;
text-align:center;

}


.about h2{

margin-bottom:20px;

}


.about p{

max-width:900px;
margin:auto;
line-height:1.8;

color:#cfcfcf;

}


footer{

padding:50px;
text-align:center;

color:#808080;

}